

<div class="homebox">
<div class="inputbox">
	<fieldset>
		<legend> Bite Finder </legend>
        <div id="InputForm">  
            <div id="AddressDiv">
                <h1>Search From:</h1>
                <input type="text" id="address" class="LocationInput">
            </div>
            <div id="RangeDiv">
                <h1>Within</h1>
                <div id="MilesRadioDiv">
                    <input type="radio" name="MilesFrom" value="5" id="RangeFrom" checked>5 Mile
                    <input type="radio" name="MilesFrom" value="10" id="RangeFrom">10 Miles
                    <input type="radio" name="MilesFrom" value="15" id="RangeFrom">15 Miles
                    <input type="radio" name="MilesFrom" value="20" id="RangeFrom">20 Miles
                </div>
            </div>
            <div id="PriceRangeDiv">
                <h1>Price Range</h1>
                <div id="PriceRangeInputDiv">
                    <input type="radio" name="PriceBox" value="5" id="slider" checked>Under $5 
                    <input type="radio" name="PriceBox" value="10" id="slider">Under $10 
                    <input type="radio" name="PriceBox" value="15" id="slider">Under $15 
                    <input type="radio" name="PriceBox" value="20" id="slider">Under $20 
                </div>
            </div>
            <div id="SearchDiv">
                <input id="subbb" type="submit" value="Search">
            </div>
        </div>
        <div id="ContainerOfMenus">
        </div>
	</fieldset>
</div> 


<script>
	add();
</script>

</div>
