

<div class="homebox">
<div class="inputbox">
	<fieldset>
		<legend> Input </legend>
		<table class="inputtable">
		<tr><td>Address:       </td><td> <input type="text" id="address"></td></tr>
		<tr><td>Max Cost:      </td><td> <input type="slider" id="slider"></td></tr>
		<tr><td><input id="subbb" type="submit" value="submit"></td></tr>
	</fieldset>
</div> 


<script>
	add();
</script>

</div>
