

<div class="homebox">
<div class="inputbox">
	<fieldset>
		<legend> Bite Finder </legend>
		<table class="inputtable">
            <tr><td id="Location">Location       </td><td> <input type="text" id="address" value="Address or Zip"></td></tr>
            <tr><td>Range</td><td> 
            1 Mile<input type="radio" name="MilesFrom" value="1" id="MileRange" checked>
            3 Miles<input type="radio" name="MilesFrom" value="3" id="MileRange">
            5 Miles<input type="radio" name="MilesFrom" value="5" id="MileRange">
            10 Miles<input type="radio" name="MilesFrom" value="10" id="MileRange">
            15 Miles<input type="radio" name="MilesFrom" value="15" id="MileRange">
            </td></tr>

		<tr><td>Price Range      </td><td id="PriceRangeRadio"> 
            Under $5 <input type="radio" name="PriceBox" value="5" id="PriceRadio" checked>
            Under $10 <input type="radio" name="PriceBox" value="10" id="PriceRadio">
            Under $15 <input type="radio" name="PriceBox" value="15" id="PriceRadio">
            Under $20 <input type="radio" name="PriceBox" value="20" id="PriceRadio">
            Under $50 <input type="radio" name="PriceBox" value="50" id="PriceRadio">
            </td></tr>
		<tr><td><input id="subbb" type="submit" value="submit"></td></tr>
	</fieldset>
</div> 


<script>
	add();
</script>

</div>
